{% load static %}
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo.png' %}" alt="img" class="mobile_logo_width" />
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'Home_Page' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'Home_Page' %}">Home</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'About_Page' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'About_Page' %}">About</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'Business_Page' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'Business_Page' %}">Business</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'Entertainment_Page' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'Entertainment_Page' %}">Entertainment</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'Health_Page' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'Health_Page' %}">Health</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'Sports_Page' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'Sports_Page' %}">Sports</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'General_Page' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'General_Page' %}">General</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'Technology_Page' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'Technology_Page' %}">Technology</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'World_Page' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'World_Page' %}">World</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>