{% extends 'base.html' %}
{% load static %}

{% block pageBlock %}

    <div class="aboutPage">
        <div class="container-fluid p-0">
            <div class="aboutImage"></div>
        </div>
        <div class="container py-5">
            <div class="title pl-3">
                <h1>About Us</h1>
            </div>
            <hr>
            <div class="description">
                <p>
                    Good day and welcome to 24 News, your go-to source for the latest updates on local, national, and international news. Our team of experienced journalists and correspondents work around the clock to bring you up-to-the-minute news and analysis on the most important events of the day.
                </p>

                <p>
                    From breaking news and politics to business, entertainment, sports, and more, we strive to provide comprehensive coverage that is fair, accurate, and objective. So whether you're at home, at work, or on the go, stay tuned to 24 News for the latest news and information from around the world.</p>
                </p>
            </div>
        </div>
    </div>

{% endblock pageBlock %}